{% if block != blank %}
  {%- assign mod_settings = block.settings -%}
  <div
    class='core-carousel-progress'
    data-progress
    {{ block.shopify_attributes }}
    id='{{ block.id }}'
    style='--progress-height: {{ mod_settings.height | default: 4 }}px;'
  >
    <div class='core-carousel-progress-thumb'></div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Progress Bar",
  "tag": null,
  "settings": [
    {
      "type": "range",
      "id": "height",
      "label": "Height",
      "min": 2,
      "max": 20,
      "step": 1,
      "unit": "px",
      "default": 4
    }
  ]
}
{% endschema %}
