{%- if section.settings.liquid != blank -%}
  {{- section.settings.liquid -}}
{%- endif -%}

{%- schema -%}
{
  "name": "t:sections.liquid.presets.name",
  "settings": [
    {
      "type": "liquid",
      "id": "liquid",
      "label": "t:sections.liquid.presets.name",
      "default": "<p>Write or copy/paste Liquid code</p>"
    }
  ],
  "presets": [
    {
      "name": "t:sections.liquid.presets.name"
    }
  ]
}
{%- endschema -%}
